  <p>Have you ever been in a coffee sheep overhearing some conversations between two obvious hipsters constantly name dropping cool things you never heard of ?</p>
  <p>Did someone ever tell you that you were actually one of these and it hurt a bit ?</p>
  <p>Well, in this game, we'll settle who is the biggest hipster of all</p>

  <h1><%= link_to "Start the fight", new_game_path %></h1>
