<div class="home-video-wrapper">
  <%= video_tag "desert_run.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>

  <p>Have you ever been in the desert at dawn, seeing some guys ahead of you and thought: "It will be cool to run to them and ask them if they want to start a fight" ?</p>
  <p>Well, you can do it here</p>

  <h1><%= link_to "Start the fight", games_new_path %></h1>
</div>