	<div class="container-fluid p-5">

		<%= image_tag "players.png", class:"img-fluid" %>

		<div class="row">
			<div class="col-12">
        <%= render "table", characters: @characters %>
			</div>
		</div>

      <%= link_to "Create a new player", new_character_path, class:"btn btn-outline-dark mt-3" %><br/>
      <%= link_to "Back to menu", root_path, class:"btn btn-outline-dark mt-3" %>


	</div>
